blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    color: #000;
    font-family: Avenir, Helvetica, Arial, sans-serif
}

strong {
    font-weight: 600
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.post__content .callout__content h2,
.post__content .callout__content h3,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important
}

.display {
    font-size: calc(1.575rem + 3.9vw);
    line-height: 1
}

@media (min-width: 1200px) {
    .display {
        font-size: 4.5rem
    }
}

.h1,
h1 {
    font-size: calc(1.475rem + 2.7vw);
    display: block;
    line-height: 1;
    margin-bottom: .4em
}

@media (min-width: 1200px) {

    .h1,
    h1 {
        font-size: 3.5rem
    }
}

.h2,
h2 {
    font-size: calc(1.425rem + 2.1vw);
    display: block;
    margin-bottom: .5em;
    line-height: 1.1
}

@media (min-width: 1200px) {

    .h2,
    h2 {
        font-size: 3rem
    }
}

.h3,
h3 {
    font-size: calc(1.365rem + 1.38vw);
    display: block;
    margin-bottom: .65em;
    line-height: 1.2
}

@media (min-width: 1200px) {

    .h3,
    h3 {
        font-size: 2.4rem
    }
}

.h4,
.post__content .callout__content h2,
.post__content .callout__content h3,
h4 {
    font-size: calc(1.265rem + .18vw);
    display: block;
    margin-bottom: .65em;
    line-height: 1.3
}

@media (min-width: 1200px) {

    .h4,
    .post__content .callout__content h2,
    .post__content .callout__content h3,
    h4 {
        font-size: 1.4rem
    }
}

.p,
p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: .65em;
    line-height: 1.6
}

.p a,
p a {
    color: #389fe6
}

a {
    text-decoration: none;
    color: #389fe6
}

.ul {
    list-style: none !important
}

.ul li {
    margin-bottom: .85em;
    line-height: 1.5
}

.ul--check li {
    position: relative;
    padding-left: 2.35rem
}

.ul--check li::before {
    content: "";
    background-image: url(../img/check-blue.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 1px
}

.ul--black-check li {
    position: relative;
    padding-left: 2rem
}

.ul--black-check li::before {
    content: "";
    background-image: url(../img/black-check.svg);
    background-size: 15px 12px;
    width: 15px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 6px
}

.overline {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: .35rem;
    font-weight: 700
}

.lead {
    font-size: 1.125rem;
    line-height: 1.6
}

.btn,
.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
    color: #389fe6;
    font-size: .875rem;
    padding: .75rem 1.5rem;
    font-weight: 400;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    border: none;
    cursor: pointer
}

.btn--link {
    padding: 0;
    border: 0;
    text-align: left;
    text-decoration: underline;
    font-weight: 600;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.btn--link:hover {
    color: #1a86d1
}

.btn--lg {
    font-size: 1.125rem;
    padding: 1rem 2rem
}

.btn--primary,
.wp-block-button .wp-block-button__link {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#4e4bb1), color-stop(49%, #6461e0), to(#60b4e7));
    background: linear-gradient(0deg, #4e4bb1 0, #6461e0 49%, #60b4e7 100%);
    background-size: 100% 200%;
    background-position-y: 0;
    -webkit-transition: .3s ease-in background-position-y;
    transition: .3s ease-in background-position-y
}

.btn--primary:hover,
.wp-block-button .wp-block-button__link:hover {
    background-position-y: 100%
}

.btn--blurple,
.btn--civil,
.btn--pool,
.btn--summer,
.btn--tequila {
    color: #fff;
    background-size: 100% 150% !important;
    background-position-y: 0 !important;
    -webkit-transition: .3s ease-in background-position-y !important;
    transition: .3s ease-in background-position-y !important
}

.btn--blurple:hover,
.btn--civil:hover,
.btn--pool:hover,
.btn--summer:hover,
.btn--tequila:hover {
    background-position-y: 75% !important
}

.btn--summer {
    background: -webkit-gradient(linear, left top, left bottom, from(#d3858b), to(#d8a983));
    background: linear-gradient(180deg, #d3858b, #d8a983)
}

.btn--tequila {
    background: -webkit-gradient(linear, left top, left bottom, from(#dca07f), to(#e9d78e));
    background: linear-gradient(180deg, #dca07f, #e9d78e)
}

.btn--pool {
    background: -webkit-gradient(linear, left bottom, left top, from(#a9e8a7), to(#8db4e2));
    background: linear-gradient(0deg, #a9e8a7, #8db4e2)
}

.btn--civil {
    background: -webkit-gradient(linear, left bottom, left top, from(#8db4e3), to(#767ee1));
    background: linear-gradient(0deg, #8db4e3, #767ee1)
}

.btn--blurple {
    background: -webkit-gradient(linear, left bottom, left top, from(#8cafe6), to(#a080e2));
    background: linear-gradient(0deg, #8cafe6, #a080e2)
}

.btn--secondary,
.wp-block-button.is-style-outline .wp-block-button__link {
    color: #389fe6;
    background: #fff;
    border: 1px solid #389fe6;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.btn--secondary:hover,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
    border-color: #1778ba;
    color: #1778ba;
    background: rgba(56, 159, 230, .1)
}

.btn--arrow {
    padding: 0;
    font-weight: 600;
    font-size: 1rem;
    position: relative
}

.btn--arrow::after {
    content: "";
    background-image: url(../img/arrow-right-blue.svg);
    background-size: 15px 12px;
    width: 15px;
    height: 12px;
    position: absolute;
    right: -1.35rem;
    top: 3px;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.btn--arrow:hover::after {
    right: -1.65rem
}

@media only screen and (max-width: 511px) {
    .btn--arrow::after {
        display: none
    }
}

.chit {
    font-size: .875rem;
    color: #1b3e8e;
    display: inline-block;
    background: #f3fcff;
    padding: 5px 12px;
    border-radius: 8px;
    margin-bottom: .35rem
}

.wp-block-buttons {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
    font-size: .875rem !important
}

.wp-block-button.is-style-outline .wp-block-button__link {
    color: #389fe6 !important
}

.wp-block-button span.wp-block-button__link,
.wp-block-button.is-style-outline span.wp-block-button__link,
span.btn.btn--primary {
    display: inline-block;
    margin-top: 1rem
}

.wp-block-button span.wp-block-button__link a,
.wp-block-button.is-style-outline span.wp-block-button__link a,
span.btn.btn--primary a {
    color: #fff
}

.text-center {
    text-align: center
}

.text-sm {
    font-size: .875rem
}

.text-navy {
    color: #1b3e8e
}

.text-blue {
    color: #389fe6
}

.all-text-white dd,
.all-text-white dt,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white p,
.all-text-white span {
    color: #fff
}

.text-highlight {
    background: #f8d22d
}

.resources-header {
    margin-top: 8rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
    position: relative
}

.resources-header::before {
    content: "";
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 159, 230, .35)), to(rgba(56, 159, 230, 0)));
    background: linear-gradient(0deg, rgba(56, 159, 230, .35) 0, rgba(56, 159, 230, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 450px
}

.resources-header--title-only::before {
    height: 250px
}

.resources-header .container {
    position: relative;
    z-index: 1
}

@media only screen and (min-width: 1024px) {
    .resources-header {
        margin-top: 10rem;
        padding-bottom: 6rem
    }
}

.resources-header__back {
    text-align: center;
    margin-bottom: .75rem
}

.resources-header__title {
    text-align: center;
    margin-bottom: 2rem
}

.resources-header__title h1 {
    margin-bottom: 0;
    color: #1b3e8e;
    padding-bottom: 2rem
}

@media only screen and (min-width: 1024px) {
    .resources-header__title {
        margin-bottom: 4rem
    }

    .resources-header__title h1 {
        padding-bottom: 3rem
    }
}

.resources-header__copy {
    margin: -.5rem auto 2rem;
    max-width: 700px
}

@media only screen and (min-width: 1024px) {
    .resources-header__copy {
        margin: -1.5rem auto 3rem
    }
}

.resources-header__image img {
    aspect-ratio: 16/9
}

@media only screen and (min-width: 1024px) {
    .resources-header__image {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
}

.resources-header__image__card {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    border-radius: 12px;
    overflow: hidden;
    background: #f3fcff
}

.resources-header__image__card img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%
}

@media only screen and (min-width: 1024px) {
    .resources-header__image__card {
        -webkit-box-shadow: 0 2px 24px rgba(0, 0, 0, .08);
        box-shadow: 0 2px 24px rgba(0, 0, 0, .08);
        border-radius: 24px
    }
}

.resources-header__content {
    margin-top: 2rem
}

.resources-header__content__overline {
    color: #389fe6;
    font-size: .7rem;
    margin-bottom: 1.25rem
}

.resources-header__content__title {
    margin-bottom: 0
}

.resources-header__content__date {
    margin-top: .5rem;
    color: #717171
}

.resources-header__content__btn {
    margin-top: 1rem
}

@media only screen and (min-width: 1024px) {
    .resources-header__content {
        margin-top: 0
    }
}

.post-header {
    margin: 8rem 0 2rem
}

.post-header--engagement {
    margin: 4rem 0 2rem
}

.post-header--engagement .overline {
    color: #389fe6
}

.post-header--engagement .post-header__image img {
    aspect-ratio: auto !important
}

@media only screen and (min-width: 1024px) {
    .post-header {
        margin-top: 10rem
    }

    .post-header--engagement {
        margin: 3rem 0
    }

    .post-header--bg-spread {
        position: relative
    }
}

.post-header__topics {
    margin-bottom: 1.5rem
}

@media only screen and (min-width: 1024px) {
    .post-header__topics {
        margin-bottom: 2.25rem
    }
}

.post-header__title {
    font-size: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .post-header__title {
        font-size: 3rem
    }
}

.post-header__image {
    margin-top: 1.5rem;
    border-radius: 12px;
    overflow: hidden
}

.post-header__image img {
    width: 100%;
    aspect-ratio: 16/9
}

@media only screen and (max-width: 1023px) {
    .post-header__image--bg-spread {
        margin-top: 0;
        margin-bottom: -2rem
    }
}

@media only screen and (min-width: 1024px) {
    .post-header__image {
        margin-top: 2.25rem
    }

    .post-header__image--engagement {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .post-header__image--engagement img {
        width: auto
    }

    .post-header__image--bg-spread {
        margin-bottom: 28vw
    }

    .post-header__image--bg-spread img {
        position: absolute;
        width: 55vw;
        right: -3.5vw;
        max-height: none;
        top: -4.5rem
    }
}

@media (min-width: 1680px) {
    .post-header__image--bg-spread {
        margin-bottom: 470px
    }

    .post-header__image--bg-spread img {
        height: 650px;
        width: auto;
        right: auto;
        left: 45vw
    }
}

.post-header__meta {
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f3f2f2
}

.post-header__meta p {
    color: #717171;
    font-size: .875rem
}

@media only screen and (min-width: 768px) {
    .post-header__meta {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media only screen and (min-width: 1024px) {
    .post-header__meta {
        margin-top: 2.25rem;
        padding-bottom: 2.25rem
    }
}

.post-header__meta__date-author {
    margin: 0
}

.post-header__meta__read-time {
    margin-top: .5rem
}

.resource-header {
    margin-top: 8rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
    position: relative
}

.resource-header::before {
    content: "";
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 159, 230, .35)), to(rgba(56, 159, 230, 0)));
    background: linear-gradient(0deg, rgba(56, 159, 230, .35) 0, rgba(56, 159, 230, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 450px
}

.resource-header--engagement::before {
    display: none
}

.resource-header--no-nav {
    margin-top: 4rem
}

.resource-header .container {
    position: relative;
    z-index: 1
}

.resource-header--bg-spread .container {
    position: static
}

@media only screen and (min-width: 1024px) {
    .resource-header {
        margin-top: 10rem;
        padding-bottom: 8rem
    }

    .resource-header--no-nav {
        margin-top: 4rem
    }

    .resource-header--bg-spread {
        position: relative
    }
}

.resource-header__overline {
    color: #389fe6;
    margin-bottom: 1.5rem
}

.resource-header__btn {
    margin-bottom: 2rem
}

@media only screen and (min-width: 1024px) {
    .resource-header__btn {
        margin-bottom: 0
    }
}

.resource-header__image iframe,
.resource-header__image img {
    border-radius: 12px;
    width: 100%
}

@media only screen and (max-width: 1023px) {
    .resource-header__image--bg-spread {
        position: relative;
        z-index: 1;
        margin-top: 0;
        margin-bottom: -2rem
    }
}

@media only screen and (min-width: 1024px) {
    .resource-header__image img {
        border-radius: 24px
    }

    .resource-header__image--bg-spread {
        margin-bottom: 28vw
    }

    .resource-header__image--bg-spread img {
        position: absolute;
        width: 55vw;
        right: -3.5vw;
        max-height: none;
        top: -4.5rem
    }
}

@media (min-width: 1680px) {
    .resource-header__image--bg-spread {
        margin-bottom: 470px
    }

    .resource-header__image--bg-spread img {
        height: 650px;
        width: auto;
        right: auto;
        left: 45vw
    }
}

.resource-header__image__preview {
    display: block;
    width: 100%;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all;
    position: relative
}

.resource-header__image__preview::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(56, 159, 230, 0);
    border-radius: 12px;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.resource-header__image__preview::after {
    content: "Preview";
    color: #fff;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.resource-header__image__preview:hover::before {
    background: rgba(56, 159, 230, .65)
}

.resource-header__image__preview:hover::after {
    opacity: 1
}

.resource-header__video-local {
    border-radius: 12px
}

.resource-header__video__header {
    margin-bottom: 1rem
}

@media only screen and (min-width: 1024px) {
    .resource-header__video__header {
        margin-bottom: 3rem
    }
}

@media only screen and (min-width: 1200px) {
    .resource-header__video__header {
        padding-right: 2.5rem
    }
}

.resource-header__video__video {
    margin-bottom: 2rem
}

.resource-header__video__video .responsive-embed {
    border-radius: 12px
}

@media only screen and (min-width: 1024px) {
    .resource-header__video__video {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 0;
        margin-top: 2.75rem
    }
}

.resource-header__video__player {
    border-radius: 12px
}

.posts {
    padding: 3rem 0
}

.posts+.posts {
    padding-top: 0
}

@media only screen and (min-width: 1024px) {
    .posts {
        padding: 4.5rem 0
    }

    .posts+.posts {
        padding-top: 0
    }
}

@media only screen and (min-width: 1024px) {
    .posts__heading {
        margin-bottom: 1.75rem
    }

    .posts__heading .h3 {
        margin-bottom: 0
    }
}

.posts__col {
    margin-bottom: 1.5rem
}

@media only screen and (min-width: 1024px) {
    .posts__col {
        margin-bottom: 2rem
    }
}

.posts__card {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.posts__image {
    background: #edf3f9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.posts__image img {
    width: 100%;
    aspect-ratio: 16/9
}

@media only screen and (min-width: 1200px) {
    .posts__image img {
        aspect-ratio: 2/1
    }
}

.posts__content .overline {
    color: #389fe6;
    font-size: .7rem
}

.posts__content__overline {
    font-size: .875rem;
    color: #389fe6;
    font-weight: 600
}

.posts__content__title {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: .5rem
}

.more-resources__heading {
    margin-bottom: 1.5rem
}

.more-resources__heading h2 {
    margin-bottom: 0
}

@media only screen and (min-width: 1024px) {
    .more-resources__heading {
        margin-bottom: 2.5rem
    }
}

.more-resources__type {
    margin-bottom: 1.5rem
}

.more-resources__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    border-radius: 12px;
    padding: 1.5rem;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.more-resources__link:hover .more-resources__link__title::after {
    opacity: 1;
    right: -2.5rem
}

.more-resources__link__icon {
    width: 40px;
    height: 40px;
    margin-right: 1.5rem
}

.more-resources__link__title {
    font-size: 1.25rem;
    color: #1b3e8e;
    font-weight: 600;
    position: relative
}

.more-resources__link__title::after {
    content: "";
    background-image: url(../img/arrow-right-blue.svg);
    background-size: 20px 15px;
    width: 20px;
    height: 15px;
    position: absolute;
    right: -2rem;
    top: 3.5px;
    opacity: 0;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.press {
    margin: 3rem 0
}

@media only screen and (min-width: 1024px) {
    .press {
        margin: 6rem 0
    }
}

.post {
    margin-bottom: 3rem
}

.post__content h1,
.post__content h2,
.post__content h3 {
    margin: 1em 0 .5em
}

.post__content h1 {
    font-size: calc(1.415rem + 1.98vw)
}

@media (min-width: 1200px) {
    .post__content h1 {
        font-size: 2.9rem
    }
}

.post__content h2 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width: 1200px) {
    .post__content h2 {
        font-size: 2.5rem
    }
}

.post__content h3 {
    font-weight: 600 !important;
    font-size: calc(1.275rem + .3vw)
}

@media (min-width: 1200px) {
    .post__content h3 {
        font-size: 1.5rem
    }
}

.post__content li a,
.post__content p a {
    font-weight: 600;
    text-decoration: underline
}

.post__content p {
    margin-bottom: .8em
}

.post__content .hs-embed-wrapper,
.post__content img {
    margin: 1.5rem 0 !important
}

.post__content img {
    border-radius: 12px !important
}

.post__content .wp-block-quote {
    padding: 2.5rem 0;
    margin: 1.5rem 0;
    border-top: 1px solid #f3f2f2;
    border-bottom: 1px solid #f3f2f2;
    text-align: center
}

.post__content .wp-block-quote p {
    margin: 0;
    font-size: calc(1.29rem + .48vw);
    line-height: 1.4;
    font-style: oblique;
    color: #1b3e8e
}

@media (min-width: 1200px) {
    .post__content .wp-block-quote p {
        font-size: 1.65rem
    }
}

.post__content .callout {
    margin-top: 3rem;
    margin-bottom: 3rem
}

.post__content .callout__container {
    border-radius: 12px;
    width: 100%;
    max-width: 100%
}

.post__content .callout__content h2,
.post__content .callout__content h3,
.post__content .callout__content h4,
.post__content .callout__content h5,
.post__content .callout__content h6 {
    margin-top: 0
}

.post__content .callout__image img {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.post__content .cta-app-resource {
    margin: 2rem 0;
    background: #f7f7f7;
    padding: 1.5rem
}

.post__content .cta-app-resource .text-purple {
    color: #555be4
}

.post__content .cta-app-resource .text-center {
    text-align: left
}

.post__content .cta-app-resource p a {
    color: #555be4
}

@media only screen and (min-width: 1024px) {

    .post__content .hs-embed-wrapper,
    .post__content img {
        margin: 2.25rem 0 !important
    }

    .post__content .wp-block-quote {
        margin: 2.5rem 0;
        padding: 3.5rem 0
    }

    .post__content .cta-app-resource {
        padding: 2.5rem
    }
}

@media only screen and (min-width: 1200px) {
    .post__content .callout {
        width: 120%;
        max-width: 120%;
        margin-left: -10%
    }

    .post__content .callout__content {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .post__content .callout__image {
        margin-left: 8.3333333333%
    }
}

.post__aside {
    margin-top: 2.5rem !important
}

.post__aside__wrapper {
    background: #f3fcff;
    border-radius: 12px;
    padding: 2rem
}

.post__aside__wrapper h2,
.post__aside__wrapper h3 {
    font-size: calc(1.325rem + .9vw);
    margin-bottom: 1.5rem;
    color: #1b3e8e
}

@media (min-width: 1200px) {

    .post__aside__wrapper h2,
    .post__aside__wrapper h3 {
        font-size: 2rem
    }
}

.post__aside__wrapper ul li::marker {
    color: #000
}

@media only screen and (min-width: 1024px) {
    .post__aside__wrapper {
        padding: 3.5rem
    }
}

@media only screen and (min-width: 1200px) {
    .post__aside__wrapper {
        padding-left: 6rem;
        padding-right: 6rem
    }
}

.post__author {
    margin-top: 2.25rem !important
}

@media only screen and (min-width: 1024px) {
    .post__author {
        margin-top: 3.5rem !important
    }
}

.post__author__wrapper {
    padding-top: 2.25rem;
    border-top: 1px solid #f3f2f2
}

.post__author__wrapper img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-bottom: 1rem
}

@media only screen and (min-width: 512px) {
    .post__author__wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .post__author__wrapper--no-bio {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .post__author__wrapper img {
        margin-bottom: 0
    }
}

@media only screen and (min-width: 1024px) {
    .post__author__wrapper {
        padding-top: 3.5rem;
        padding-left: 6rem;
        padding-right: 6rem
    }
}

.post__author__bio {
    font-size: .875rem
}

@media only screen and (min-width: 512px) {
    .post__author__bio {
        padding-left: 1rem
    }
}

@media only screen and (min-width: 768px) {
    .post__author__bio {
        padding-left: 2rem
    }
}

.post__author__name {
    margin-bottom: 0
}

@media only screen and (min-width: 512px) {
    .post__author__name {
        padding-left: 1rem
    }
}

@media only screen and (min-width: 768px) {
    .post__author__name {
        padding-left: 2rem
    }
}

.post__demo {
    margin-bottom: 3rem
}

.post__demo__container {
    background: linear-gradient(256.68deg, #20428f 0, #082566 100%);
    padding: 2rem
}

@media only screen and (min-width: 512px) {
    .post__demo__container {
        border-radius: 12px;
        overflow: hidden
    }
}

@media only screen and (min-width: 1024px) {
    .post__demo__container {
        padding: 2rem 3.5rem
    }
}

.post__demo__content {
    text-align: center
}

.post__demo__content .h3 {
    color: #fff;
    font-size: calc(1.26rem + .12vw);
    line-height: 1.4
}

@media (min-width: 1200px) {
    .post__demo__content .h3 {
        font-size: 1.35rem
    }
}

.post__demo__content .btn,
.post__demo__content .wp-block-button .wp-block-button__link,
.wp-block-button .post__demo__content .wp-block-button__link {
    margin-top: 1rem
}

@media only screen and (min-width: 1024px) {
    .post__demo__content {
        text-align: left
    }
}

.post__demo__image {
    margin-top: 1.5rem
}

@media only screen and (min-width: 1024px) {
    .post__demo__image {
        margin-top: 0
    }
}

.post__related {
    padding: 0;
    margin: 0 0 3rem
}

@media only screen and (min-width: 1024px) {
    .post__related {
        margin-top: 4.5rem
    }
}

.resource {
    padding: 3rem 0 0;
    margin-bottom: 4rem
}

.resource--lp {
    padding-top: 6rem
}

.resource--no-nav-header {
    padding-top: 0
}

@media only screen and (min-width: 1024px) {
    .resource {
        margin-bottom: 6rem
    }

    .resource--lp {
        padding-top: 10rem
    }

    .resource--no-nav-header {
        padding-top: 6rem
    }
}

.resource__form--lp {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 3rem
}

@media only screen and (min-width: 1024px) {
    .resource__form {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin-top: -7rem;
        z-index: 2
    }

    .resource__form--lp {
        margin-top: 0
    }
}

.resource__form__sm {
    display: none
}

@media only screen and (min-width: 1024px) {
    .resource__form__sm {
        display: block;
        margin-top: 1rem
    }

    .resource__form__sm p {
        font-size: .7rem
    }
}

.resource__content {
    margin-top: 3rem
}

.resource__content iframe {
    max-width: 100%;
    margin-top: 1rem
}

@media only screen and (min-width: 1024px) {
    .resource__content {
        margin-top: 0
    }
}

.resource__content__sm {
    margin-top: 1.5rem;
    padding-top: 1.25rem;
    border-top: 1px solid #ebeaea
}

.resource__content__sm p {
    font-size: .7rem
}

@media only screen and (min-width: 1024px) {
    .resource__content__sm {
        display: none
    }
}

.resource__images__image {
    margin-bottom: 1.5rem
}

.resource__video {
    margin-top: -2rem
}

.resource__video iframe,
.resource__video video {
    border-radius: 12px
}

@media only screen and (min-width: 1024px) {
    .resource__video {
        margin-top: -4rem
    }
}

.speakers {
    margin: 6rem 0 4rem
}

@media only screen and (min-width: 1024px) {
    .speakers {
        margin-bottom: 6rem
    }
}

.speakers__heading {
    border-bottom: 1px solid #f3f2f2;
    padding-bottom: .75rem;
    margin-bottom: 2.5rem
}

@media only screen and (min-width: 1024px) {
    .speakers__heading {
        margin-bottom: 4rem
    }
}

.speakers__speaker:not(:last-child) {
    margin-bottom: 2rem
}

.speakers__speaker__img-name-role {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.speakers__speaker__img {
    width: 115px;
    height: 115px;
    border-radius: 115px;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.speakers__speaker__name-role {
    padding-left: 1rem
}

@media only screen and (min-width: 1024px) {
    .speakers__speaker__name-role {
        padding-left: 1.5rem
    }
}

.speakers__speaker__name {
    margin-bottom: .25rem;
    font-weight: 600 !important
}

.speakers__speaker__role {
    margin-bottom: 0
}

.speakers__speaker__bio {
    margin-top: 1rem
}

.engagement-post__stats {
    margin-top: 0
}

@media only screen and (min-width: 1024px) {
    .engagement-post__stats {
        margin-bottom: 5rem
    }
}

.engagement-post__stats__stat {
    margin-bottom: 1.5rem
}

.engagement-post__stats__card {
    padding: 1.5rem;
    background: #fff;
    text-align: center
}

@media only screen and (min-width: 1200px) {
    .engagement-post__stats__card {
        padding: 2.5rem
    }
}

.engagement-post__stats__lg {
    font-size: calc(1.375rem + 1.5vw);
    color: #1b3e8e;
    line-height: 1;
    margin-bottom: 1.5rem
}

@media (min-width: 1200px) {
    .engagement-post__stats__lg {
        font-size: 2.5rem
    }
}

.engagement-post__stats__source {
    font-size: .875rem;
    margin-bottom: 0
}

.engagement-post__stats__source a {
    text-decoration: underline
}

@media only screen and (min-width: 1024px) {
    .engagement-post__intro {
        margin: 4rem 0
    }
}

.engagement-post__content {
    margin-top: 0
}

@media only screen and (min-width: 1024px) {
    .engagement-post__content {
        margin-bottom: 5rem
    }
}

.engagement-post__content__container {
    background: #f7f7f7;
    padding: 3rem 1rem
}

@media only screen and (min-width: 512px) {
    .engagement-post__content__container {
        border-radius: 12px
    }
}

@media only screen and (min-width: 1024px) {
    .engagement-post__content__container {
        padding: 6rem 1rem
    }
}

.engagement-post__content__comms-copy {
    margin-bottom: 3rem
}

@media only screen and (min-width: 1024px) {
    .engagement-post__content__comms-copy {
        margin-bottom: 4.5rem;
        padding-left: 4rem;
        padding-right: 4rem
    }
}

.engagement-post__content__format:not(:first-of-type) {
    margin-top: 3rem
}

@media only screen and (min-width: 1024px) {
    .engagement-post__content__format:not(:first-of-type) {
        margin-top: 5rem
    }
}

.engagement-post__content__title-btn h2 {
    margin-bottom: 0
}

@media only screen and (min-width: 512px) {
    .engagement-post__content__title-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.engagement-post__content__copy-btn {
    margin-top: 1rem;
    cursor: pointer
}

@media only screen and (min-width: 512px) {
    .engagement-post__content__copy-btn {
        margin-top: 0
    }
}

.engagement-post__content__email,
.engagement-post__content__slack {
    margin-top: 1.5rem
}

.engagement-post__quote {
    text-align: center;
    margin-bottom: 3rem
}

.engagement-post__quote svg {
    width: 32px;
    height: 24px
}

@media only screen and (min-width: 1024px) {
    .engagement-post__quote {
        margin-bottom: 5rem
    }
}

.engagement-post__quote__wrapper {
    margin-top: 2rem
}

.engagement-post__quote__quote {
    font-size: calc(1.325rem + .9vw);
    font-style: oblique
}

@media (min-width: 1200px) {
    .engagement-post__quote__quote {
        font-size: 2rem
    }
}

.engagement-post__quote__author {
    font-style: normal;
    color: #717171;
    display: block;
    margin-top: 1.5rem
}

.engagement-post__nav__container {
    background: #f3fcff;
    padding: 2rem 1rem
}

@media only screen and (min-width: 512px) {
    .engagement-post__nav__container {
        border-radius: 12px
    }
}

@media only screen and (min-width: 768px) {
    .engagement-post__nav__container {
        padding: 2rem
    }
}

.engagement-post__nav__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.engagement-post__nav__nav a {
    font-size: 1.125rem;
    font-weight: 600;
    display: inline-block;
    margin: .5rem 0;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.engagement-post__nav__nav a:hover {
    color: #1a86d1
}

@media only screen and (min-width: 768px) {
    .engagement-post__nav__nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .engagement-post__nav__nav a {
        margin: 0
    }
}

.engagement-post__nav__next.disappear,
.engagement-post__nav__prev.disappear {
    opacity: 0;
    pointer-events: none
}

.engagement-post__nav__prev svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: .5rem
}

@media only screen and (min-width: 768px) {
    .engagement-post__nav__index {
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%
    }
}

.engagement-post__nav__next svg {
    margin-left: .5rem
}

.resource-topics {
    margin: 2rem 0 0
}

.resource-topics__pills {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.resource-topics__pill {
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.resource-topics__pill:hover {
    background: #d2f4ff
}

.resource-topics__pill__topic {
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.mini-testimonials {
    border-left: 2.5px solid #389fe6;
    padding-left: 1rem;
    position: relative;
    margin-top: 2rem
}

.mini-testimonials .tns-controls {
    position: absolute;
    bottom: 0;
    z-index: 1
}

.mini-testimonials .tns-controls [data-controls=next],
.mini-testimonials .tns-controls [data-controls=prev] {
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all
}

.mini-testimonials .tns-controls [data-controls=next]:hover,
.mini-testimonials .tns-controls [data-controls=prev]:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.mini-testimonials .tns-controls [data-controls=next] {
    margin-left: .5rem
}

.mini-testimonials__quote-mark {
    padding-top: .35rem;
    margin-bottom: 1rem
}

.mini-testimonials__quote-mark svg {
    width: 20px;
    height: 16px
}

.mini-testimonials__slider {
    padding-bottom: 4rem
}

.mini-testimonials__item p {
    font-size: .875rem
}

.mini-testimonials__testimonial p {
    font-style: italic
}

.mini-testimonials__person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem
}

.mini-testimonials__person__image {
    width: 20%;
    border-radius: 200px;
    overflow: hidden
}

.mini-testimonials__person__image img {
    aspect-ratio: 1/1
}

@media only screen and (min-width: 768px) {
    .mini-testimonials__person__image {
        width: 12.5%
    }
}

.mini-testimonials__person__name-role {
    width: 80%;
    padding-left: 1rem
}

.mini-testimonials__person__name-role--no-image {
    width: 100%;
    padding-left: 0
}

@media only screen and (min-width: 768px) {
    .mini-testimonials__person__name-role {
        width: 87.5%
    }

    .mini-testimonials__person__name-role--no-image {
        width: 100%
    }
}

.mini-testimonials__person__name {
    font-weight: 600;
    margin-bottom: 0
}

.mini-testimonials__person__role {
    margin-bottom: 0;
    line-height: 1.3
}